/*
 * Tweaks and overrides to hyde.css
 */

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-size: 2.0rem;
  margin-bottom: 0rem;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}

#profile-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

img.centered {
  margin-left: auto;
  margin-right: auto;
}

div.copyright {
  font-size: 18px;
}

div.pagination {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.figure-image {
  margin-bottom: 2px;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

figcaption {
  text-align: center;
  font-size: 12px;
}

.begin-task-list + ul {
  list-style: none;
  padding-inline-start: 18px;
}
